@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

:root {
    --main-font: 'Arimo', Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    font-size: 0.5em;
    color: black;
    border: 2px solid black;
    text-align: center;
    padding: 0px 10px;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

header ul > li {
    flex: 1;
    text-align: center;
}

header ul > li > a {
    text-decoration: none;
    color: black;
}

div#logo {
    display: inline-block;
    align-items: center;
}
div#logo img {
    width: 60px;
    text-align: center;
}


/* MAIN */
/*CARROSSEL*/
section#carrossel {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 10px 0px 0px 0px;
}

.slider {
    margin: 0 auto;
    width: 99vw;
    overflow: hidden;
}

.slides {
    width: 400%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img, .slide-first img {
    width: 99vw;
    height: 100%;
}

.manual-navigation {
    position: absolute;
    width: 99vw;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .05s;
}

.manual-btn:not(:last-child) { margin-right: 20px; }

.manual-btn:hover { background-color: #fff; }

#radio1:checked ~ .first { margin-left: 0; }

#radio2:checked ~ .first { margin-left: -99vw; }

#radio3:checked ~ .first { margin-left: -198vw; }

/*DEPOIMENTOS*/
section#depoimentos {
    padding: 50px 0px;
    justify-content: center;
}

section#depoimentos h1 {
    text-align: center;
    padding-bottom: 10px;
}

section#depoimentos div { text-align: center; }

/*ENSINO*/
#ensino > div#boxens {
    border: 2px solid black;
    width: 80vw;
    height: 150px;
    margin: auto;
}

#ensino > div#boxens > div#infantil {
    display: inline-block;
    background-color: yellow;
    width: 8vw;
    height: 150px;
    border-right: 1px solid black;
}

#ensino > div#boxens > div#fundamental {
    display: inline-block;
    background-color: blue;
    width: 8vw;
    margin-left: -5px;
    height: 150px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#ensino > div#boxens > div#medio {
    display: inline-block;
    background-color: red;
    margin-left: -5px;
    width: 8vw;
    height: 150px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#ensino > div#boxens > div#selecaoens {
    display: inline;
    text-align: center;
    width: 54.7vw;
    height: 150px;
}

#ensino > div#boxens > div#selecaoens p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    position: absolute;
    width: 54.7vw;
    height: 150px;
}

.pEns {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    position: absolute;
    width: 8vw;
    height: 150px;
}

/*DESTAQUES*/
#destaques {
    padding: 50px 0px;
    text-align: center;
}

#destaques h1 { padding: 10px 0px; }

#boxdstq {
    width: 90vw;
    height: 250px;
    margin: auto;
    border: 2px solid black;
}

.dstlist {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 40px 0px;
}

#dst1 {
    background-color: red;
    width: 22vw;
    height: 60px;
    border: 1px solid black;
}

#dst2 {
    background-color: red;
    width: 22vw;
    height: 60px;
    border: 1px solid black;
}

#dst3 {
    background-color: red;
    width: 22vw;
    height: 60px;
    border: 1px solid black;
}

#dst4 {
    background-color: red;
    width: 22vw;
    height: 60px;
    border: 1px solid black;
}

#dst5 {
    background-color: red;
    width: 22vw;
    height: 60px;
    border: 1px solid black;
}

#dst6 {
    background-color: red;
    width: 22vw;
    height: 60px;
    border: 1px solid black;
}

/*FOOTER*/

footer{
    background-color: rgb(83, 83, 83);
    color: white;
}

#slogan {
    font-size: 0.8em;
    border-bottom: 3px solid white;
    margin-bottom: 5px;
}

#slogan h1 {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

#botimg {
    width: 50px;
    padding: 0px 0px 0px 10px;
}

#infos {padding-bottom: 5px;}

#infos > ul > li a, #infos > ul > li {
    text-decoration: underline;
    color: white;
    font-size: 3vw;
    line-height: 15px;
}

a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.753);
}

/* ChatBot
a.close {
    color: black;
    background-color: var(--cor05);
    text-decoration: none;
}

a.minimize {
    color: black;
    background-color: var(--cor05);
    text-decoration: none;
}

.myBtn {
    display: flex;
    background-image: url('../imagens/botautoatendimento.png');
    background-color: var(--cor03);
    background-position: center center;
    background-size: 70px 70px;
    position: fixed;
    padding: 30px;
    border: 2px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.7s;
    box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.233);
}

.myBtn:hover {
    box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.748);
}

#myBox {
    display: none;
    position: fixed;
    overflow: auto;
    padding: 5px;
    bottom: 20px;
    right: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(62, 62, 62, 0.839);
    font-size: 13px;
    width: 320px;
    height: 450px;
    background-color: var(--cor05);
}

#boxHeader {
    background-color: var(--cor05);
}

#boxHeader > h3 {
    display: inline-flex;
    position: absolute;
    right: 160px;
    
}

.botBox {
    display: block;
    justify-content: center;
    max-width: 220px;
    align-items: center;
    font-size: 13px;
    padding: 15px 15px 0px 15px;
    line-height: 2em;
}

.userBox {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    margin-left: auto;
    font-size: 13px;
    padding: 15px 15px 0px 15px;
    line-height: 2em;

}

.botRes {
    background-color: var(--cor02);
    padding: 5px;
    border-radius: 10px;
    width: 210px;
}

.userRes {
    margin-left: auto;
    background-color: var(--cor01);
    padding: 5px;
    border-radius: 10px;
    width: 210px;
}

.txtRes {
    font-size: 13px;
    margin-left: auto;
}

button > a {
    color: black;
    background-color: var(--cor03);
    text-decoration: none;
}

.botBox > button {
    display: inline;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 2px;
    padding: 2px;
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
}

button.btncolors {
    background-color: yellow;
}