@charset "UTF-8";

/* HEADER */
header { 
    font-size: 0.9em; 
    margin-bottom: 30px;
}

header, header ul { height: 9vh; }

div#logo img { width: 90px; }

/* CARROSSEL */
section#carrossel, .slider, .slides, .manual-navigation { width: 80vw; }

section#carrossel { 
    margin: 10px auto 0px auto; 
    border: 2px solid black;
    padding: 1px;
}

.slides { width: 400%; }

.slide img, .slide-first img {
    width: 100%; 
    height: 100%; 
}

#radio2:checked ~ .first { margin-left: -80vw; }
#radio3:checked ~.first { margin-left: -160vw; }

/* DEPOIMENTOS */
section#depoimentos h1 {
    font-size: 2.5em;
    padding-bottom: 20px;
}

section#depoimentos iframe {
    width: 550px;
    height: 350px;
}

/* ENSINO */
section#ensino, #ensino div#boxens, #ensino div#boxens > div#infantil, #ensino div#boxens > div#fundamental, #ensino div#boxens > div#medio, #ensino div#boxens > div#selecaoens > p#txtens, .pEns { height: 225px; }

.pEns, #ensino > div#boxens > div#selecaoens p {
    font-size: 1.5em;
}

/*DESTAQUES*/
section#destaques, div#boxdstq { height: 400px; }

div#boxdstq h1 { 
    font-size: 2.5em; 
    padding: 15px 0px;
}

.dsts { height: 120px; }

/*FOOTER*/
footer { height: 160px; }

footer #slogan { 
    top: 92.3%;
    height: 90px; 
}

footer #slogan > h1 { 
    font-size: 4em; 
    height: 90px;
    padding: 0px 5vw;
}

#botimg { 
    width: 90px;
    height: 90px; 
}

footer #infos {
    height: 70px;
    font-size: 3vw;
}